<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="./css/style.css">
    
    <title>Weather</title>
</head>
<body>
    <div class="main-content">
        {{>header}}
        <p>Use this search below to get your Weather!</p>
        <form action="">
            <input placeholder="Location" type="text">
            <button>Search</button>
        </form>
        <p id="msg-01"></p>
        <p id="msg-02"></p>
        <p id="msg-03"></p>
    </div>
    {{>footer}}
    <script src="/js/app.js"></script>
</body>
</html>